# Database
DATABASE_URL="postgresql://platemate:your_password@localhost:5433/platemate"

# Auth.js
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Redis
REDIS_URL="redis://:your_redis_password@localhost:6379"
